/* App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Theme-related styles */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Ensure the app container itself reflects the theme */
.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #121212;
  color: brown;
}

button {
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Dark mode specific button styling */
body.dark button {
  background-color: white;
  color: black;
}

body.light button {
  background-color: black;
  color: white;
}